.container {
  border: 2px solid #606978;
  border-radius: 10px;
  background: #ddcad5;
  padding-top: 10px;
  margin-top: 80px;
  margin-bottom: 0px;
}
.card.search-engine {
  border: none;
}

.card-body {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  background: #ddcad5;
}

.temp-range {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  text-align: center;
  position: relative;
  top: 18px;
  color: #606978;
}

.current-city {
  font-family: "Poiret One", cursive;
  font-size: 47px;
  text-align: center;
  position: relative;
  top: 22px;
  color: #606978;
}

.current-temp {
  text-align: center;
}

.temperature {
  font-family: "Poiret One", cursive;
  font-size: 47px;
  margin: 0px;
  position: relative;
  top: 22px;
  color: #606978;
}

.unit {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  margin: 0px;
  position: relative;
  bottom: 3px;
  color: #606978;
}

.weather-icon {
  font-family: "Poiret One", cursive;
  font-size: 70px;
  text-align: center;
  color: #606978;
}

.current-date {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  text-align: center;
  position: relative;
  top: 18px;
  color: #606978;
}

.current-wind-speed {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  text-align: center;
  color: #606978;
}

.current-temp-description {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  text-align: center;
  color: #606978;
}

.current-day-time {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  text-align: center;
  color: #606978;
}
.third {
  padding-bottom: 30px;
}

.day {
  font-family: "Poiret One", cursive;
  text-align: center;
  padding-top: 60px;
  font-size: 25px;
  border-top: thick double #606978;
  color: #606978;
}

.day-icon {
  text-align: center;
  font-size: 30px;
  color: #606978;
}

.day-temp {
  font-family: "Poiret One", cursive;
  text-align: center;
  padding-bottom: 60px;
  font-size: 25px;
  color: #606978;
}
.code-link {
  position: relative;
  text-align: center;
}
